

.comment-structure{
    display: flex;
    flex-direction: row;
}

.show-comments{
    padding-left: 10px;
    height: 60px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: auto;
    margin-left: 2%;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    font-size: 20px;
    align-items: center;
}

.comment-bubble{
    font-size: 25px;
    margin: auto;
    margin-left: -20%;
    color: lightblue;
}

.comments-title{
    display: flex;
    margin-top: 90px;
    justify-content: flex-start;
    min-width: 600px;
    margin-left: 20px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    color: black;
    font-size: 25px;
    height: 40px;
    font-weight: 500;
}

.comments-list{
    min-height: 200px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 20px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    font-size: 10px;
    align-items: center;
    background: white;
    margin-bottom: 30px;
}

.ul-comments{
    // height: 200px;
    width: 350px;
    // border: 1px solid black;
    // border-radius: 5px;
    display: flex;
    margin: auto;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: scroll;
    color: darkgray;
    padding-right: 10px;
}

.ul-comments li{
    color: black;
    padding: 5px;
    margin: auto;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}