

.comment-structure{
    display: flex;
    flex-direction: row;
}

.show-comments{
    padding-left: 10px;
    height: 60px;
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: auto;
    margin-left: 2%;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    font-size: 20px;
    align-items: center;
}

.comment-bubble{
    font-size: 25px;
    margin: auto;
    margin-left: -20%;
    color: lightblue;
}

.comments-title{
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    min-width: 600px;
    margin-left: 50px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    color: black;
    font-size: 25px;
    height: 40px;
    font-weight: 500;
}

.comments-list{
    min-height: 300px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    margin-top: 20px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    font-size: 10px;
    align-items: center;
    background: aliceblue;
    margin-bottom: 30px;
}

.ul-comments{
    min-width: 600px;
    display: flex;
    margin: auto;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
    // font-size: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    overflow: scroll;
    color: darkgray;
    padding-right: 10px;
    height: 300px;
}

.ul-comments li{
    padding: 15px;
    margin: auto;
    min-width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 3px solid rgba(0, 0, 0, 0.3); 
    border-radius: 5px;  
    background-color: white;
    align-items: flex-start;
}

.comments-wrapper{
    min-height: 500px;
    min-width: 500px;
    background-color: rgba(211, 211, 211, 0.3);
    border: 3px solid rgba(169, 169, 169, 0.2);
    border-radius: 5px;
}

.empty-comment-div{
    height: 10px;
}

.comment-li{
    display: flex;
    flex-direction: row;
}

.comment-body{
    color: black;
    font-size: 20px;
}

.comment-user-add-on{
    font-size: 18px;
    color: darkgray;
    text-indent: 320px;
}
