.footer{
    // background-image: url(image_path("pxtures-footer.jpg"));
    background: white;
    width: 100%;
    height: 200px;
}

.footer-title{
    display: flex;
    justify-content: center;
    font-weight: light;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px darkgray;
    padding-top: 15px;
}

.footer-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    font-size: 50px;
}

.footer-github{
    color: black;
    padding-right: 100px;

}

.footer-linkedin{
    color: rgba(0, 118, 181, 1);
    padding-right: 100px;

}

.footer-angel{
    color: black;
    padding-right: 100px;

}

.footer-email{
    color: lightblue;
    padding-right: 100px;

}