// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Photo Index page

.photos-index-title{
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0.5px 0.5px 0.5px darkgray;
}

.photo-index-description{
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: lighter;
  text-shadow: 0.5px 0.5px 0.5px darkgray;
}

.photo-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 1000px;
  width: 100%;
  background: whitesmoke;
  -webkit-background-size: cover;
}

.ul-photos {
  background: transparent;
  width: 100%;
  height: 275%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: scroll;
  // border: 1px solid black;
  // border-radius: 20px;
}


.photo-index-item {
  height: 300px;
  width: 400px;
  padding: 5px 10px;
  cursor: pointer;
  // display: flex;
  align-content: center;
  transition: height 0.3s, width 0.3s linear;

  &:hover {
    background-color: lightblue;
    height: 321px;
    width: 428px;
  }
}

.photo-index-picture{
  height: 100%;
  width: 100%;
}

.photo-index-picture-title{
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

.photo-index-buttonicles{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-index-edit{
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

.photo-index-delete{
  position: relative;
  margin-top: -164%;
  margin-left: 94%;
  display: flex;
  justify-content: flex-end;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  text-shadow: 0.5px 0.5px 0.5px darkgray;
  color: black;
}
  .photo-index-delete-frame{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    display: flex;
    background: rgba(250, 235, 215, 0.7);
    border-radius: 1px;
  }

.photo-index-title{
  margin: auto;
  display: flex;
  // text-shadow: 1px 1px 1px black;
}
//Create photo post container

.photo-title{
    background: transparent;
    margin-top: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.photo-image{
    background: transparent;
    margin-top: 10px;
}

.photo-submit-button{
    border-radius: 2px;
    background: darkgray;
    margin-top: 10px;
    font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

.photo-index-bottom-page{
}

.photo-index-upload-title{
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0.5px 0.5px 0.5px darkgray;
}

.photo-index-upload-description{
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: lighter;
  text-shadow: 0.5px 0.5px 0.5px darkgray;
}

.photo-form{
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-file{
  cursor: pointer;
}