// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login-signup{
    border-radius: 5px;
    border: 10px;
    color: gray; 
    background: transparent;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: space-between;
}

.overall-form{
    border: 1px solid black;
    border-radius: 5px;
    height: 60%;
    width: 30%;
    background: white;
    position: absolute;
}

.email-label{
    color: gray;
}

.password-label{
    color: gray;
}


.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
    
}

.login-form-box{
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.login-form{
    height: 5px;
    width: 10px;
    background: transparent;
}

.login-input{
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  color: #71767a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.session-submit{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-content: flex-end;
    height: 20px;
    width: 40px;
    background: rgb(120, 223, 120);
}

body{
    background: image_url("baybaybridge.jpg");
    -webkit-background-size: cover;

}

.tip_top_logo{
    background: image_url("https://goo.gl/images/fF47KF")
}

.main-welcome{
    font-size: 48px;
    text-align: center;
    max-width: 900px;
    padding: 40px 0;
    margin: 0 auto;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.main-welcome-description{
    font-size: 30px;
    text-align: center;
    max-width: 900px;
    padding: 40px 0;    
    margin: 0 auto;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.style-login{
}

.style-signup{
    background: rgb(55, 207, 218);
    border-radius: 20px;
}

.style-login-signup{
    color: white;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: space-between;
}

.pretty-front-page-button{
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    height: 100px;
    width: 200px;
    font-size: 38px;
    background: rgb(55, 207, 218);
    border-radius: 50px;
    color: white;
    margin: auto;
}