// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-pages{
    height: 100%;
    background: lightgray;
    -webkit-background-size: cover;

}


// .splash{
//     height: 100%; 
// }



.login-form-box{
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
}

.overall-form{
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 5px;
    height: 70%;
    width: 50%;
    background: white;
    position: absolute;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;   
}

.login-form{
    display: flex;
    flex-direction: column;
    background: transparent;
}

.login-input{
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  color: #71767a;
  height: 30px;
  width: 85%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.login-header{
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 10px;

}
.email-label{
    color: gray;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.password-label{
    color: gray;
    margin: 20px;
    width: 100%;
}

.session-submit{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    align-content: flex-end;
    height: 30px;
    width: 85%;
    background: rgb(120, 223, 120);
}

.demo-submit{
    border: 1px solid black;
    background-color: blue;
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    height: 30px;
    width: 85%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}


// Greeting logo and Login and Signup buttons/Links

.all-dem-px{
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.tip_top_logo{
    display: flex;
    justify-content: space-between;
}

.login-signup{
    border-radius: 5px;
    border: 10px;
    color: gray; 
    background: transparent;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
}

.style-login-signup{
    color: white;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.style-login{

}

.style-signup{
    background: rgb(55, 207, 218);
    border-radius: 20px;
}

a:hover{
    text-decoration: underline;
}

//Pretty Front Page Container CSS

.pretty-front-page-button{
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    width: 200px;
    height: 100px;
    font-size: 32px;
    background: rgb(55, 207, 218);
    border-radius: 80px;
    color: white;
}
.main-welcome-description{
    font-size: 30px;
    text-align: center;
    max-width: 900px;
    padding: 40px 0;    
    margin: 0 auto;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

.main-welcome{
    font-size: 48px;
    text-align: center;
    max-width: 900px;
    padding: 40px 0;
    margin: 0 auto;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header-group{
    display: flex;
    justify-content: flex-end;
}