// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-pages{
    height: 100%;
    background: lightgray;
    -webkit-background-size: cover;
    min-width: 600px;
    border-radius: 15px;
}


// .splash{
//     height: 100%; 
// }



.login-form-box{
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 1px darkgray;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
}

.overall-form{
    margin-top: 100px;
    border: 1px solid darkgray;
    border-radius: 5px;
    height: 500px;
    width: 500px;
    background: rgba(238, 238, 238, 0.9);
    position: absolute;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 500px;
    padding-bottom: 180px; 
}

.login-form{
    display: flex;
    flex-direction: column;
    background: transparent;
}

.login-input{
  border: 1px solid darkgray;
  background-color: transparent;
  border-radius: 5px;
//   color: #71767a;
  height: 30px;
  width: 87%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
//   color: darkgray;
//   text-shadow: 0.5px 0.5px 0.5px lightgray;
}

.login-header{
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 10px;

}
.email-label{
    color: darkgray;
    text-shadow: 0.5px 0.5px 0.5px lightgray;    
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.password-label{
    color: darkgray;
    text-shadow: 0.5px 0.5px 0.5px lightgray;    
    margin: 20px;
    width: 100%;
}

.session-submit{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    align-content: flex-end;
    height: 30px;
    width: 87%;
    border: 1px solid darkgray;
    background: rgb(120, 223, 120);
    text-shadow: 1px 1px 1px darkgray;
}

.demo-submit{
    border: 1px solid darkgray;
    background-color: blue;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-left: 20px;
    height: 30px;
    width: 87%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.session-footer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: darkgray;
    text-shadow: 0.5px 0.5px 0.5px lightgray;

}

.session-footer-link{
    color: rgba(0, 153, 229, 0.8);
}


li{
    display: flex;
    justify-content: center;
    color: red;
}