
.header{
    background-color: white;
    display: flex;
}

.header-group{
    background-color: white;
    display: flex;
    // justify-content: flex-start;
    // align-content: space-between;
    // align-content: center;
    padding: 10px;
}


.header-search{
    display: flex;
    justify-content: flex-start;
    height: 20px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
}

.icons-left{
    float: left;
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 5.5%;
    margin-bottom: 1%;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 50%;
}

    .header-retro-cam{
        height: 30px;
        width: 30px;
        margin-right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header-retro-cam:hover{
            color: lightblue;
            border-radius: 5px;
        }

    .header-discover{
        height: 30px;
        width: 100px;
        margin-right: 10%;
        text-shadow: 1px 1px 1px darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header-discover:hover{
            color: lightblue;
            border-radius: 5px;
        }

    .header-about{
        height: 30px;
        width: 100px;
        text-shadow: 1px 1px 1px darkgray;
        // margin-right: 500px;
        font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header-about:hover{
            color: lightblue;
            // border-radius: 5px;
        }



.icons-right{
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
    margin-right: 5.5%;
    margin-bottom: 1%;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 50%;
    min-width: 410px;
}

.header-profile-main{
    height: 100%;
    width: 10%;
}
    .jeader-div{
        padding: 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }      
    .header-profile{
        height: 30px;
        width: 50px;
        margin-right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .header-profile:hover{
            color: lightblue;
            border-radius: 5px;
        }
    .profile-button{
        background: transparent;
        color: white;
        text-shadow: 1px 1px 1px black;
    }  

    .dropdown-content{
        position: absolute;
        margin-top: 30px;
        visibility: hidden;
        background: whitesmoke;
        // display: flex;
        // flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 70px;
        height: 40px;
        font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
        border-radius: 5px;
        border: 1px solid darkgray;
    }
        .dropdown:hover .dropdown-content{
            visibility: visible;
            color: black;
            display: flex;
            justify-content: center;
        }

// PHOTO_INDEX.JSX

.header-upload-main{
    height: 100%;
    position: relative;
    margin-top: 4px;
    bottom: 54px;
    margin-right: 2.5%;
}
    .empty-upload{

    }
    .header-upload{
        height: 30px;
        width: 50px;
        margin-right: 10%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: green;
    }
        .header-upload:hover{
            color: white;
            background: green;
            border-radius: 5px;
        }

        .empty-upload{
            margin-right: 10%;
        }




