/* PHASE 0: Reset */


html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

html{
  background: lightgray;
}

main{
  height: 100%;
}
/* line 1, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/01_login.scss */
body {
  background: url(/assets/goldengate-1505520620d950d6d9f7ab0f2c40929326b894592b269b13c5d703867975ccb8.jpg);
  -webkit-background-size: cover;
}
/* line 1, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photo_show.scss */
.show-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: whitesmoke;
}

/* line 13, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photo_show.scss */
.show-picture-frame {
  display: flex;
  height: 400px;
  width: 600px;
}

/* line 19, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photo_show.scss */
.show-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

/* line 28, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photo_show.scss */
.show-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: auto;
}

/* line 39, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photo_show.scss */
.show-title {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/* line 49, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photo_show.scss */
.show-index-btn {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  margin-top: 40px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}
/* line 8, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photos-index-title {
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/* line 16, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-description {
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: lighter;
}

/* line 23, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 70px;
  height: 1000px;
  width: 90%;
  background: whitesmoke;
  -webkit-background-size: cover;
}

/* line 35, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.ul-photos {
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: scroll;
}

/* line 49, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-item {
  padding: 5px 10px;
  cursor: pointer;
}
/* line 53, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-item:hover {
  background-color: lightblue;
}

/* line 58, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-picture {
  height: 300px;
  width: 400px;
  transition: height 0.3s, width 0.3s linear;
}

/* line 64, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-picture:hover {
  height: 321px;
  width: 428px;
}

/* line 69, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-picture-title {
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

/* line 76, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-buttonicles {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 83, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-edit {
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

/* line 87, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-delete {
  margin: auto;
  display: flex;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

/* line 93, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-title {
  margin: auto;
  display: flex;
}

/* line 99, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-title {
  background: transparent;
  margin-top: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
}

/* line 106, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-image {
  background: transparent;
  margin-top: 10px;
}

/* line 111, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-submit-button {
  border-radius: 2px;
  background: darkgray;
  margin-top: 10px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
}

/* line 121, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-upload-title {
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: bold;
  font-size: 30px;
}

/* line 129, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-index-upload-description {
  display: flex;
  justify-content: flex-start;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif;
  font-weight: lighter;
}

/* line 136, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-form {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 145, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/photos.scss */
.photo-file {
  cursor: pointer;
}
/* line 5, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.main-pages {
  height: 100%;
  background: lightgray;
  -webkit-background-size: cover;
}

/* line 12, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.app-style {
  height: 100%;
  background: url(/assets/baybaybridge-bf5ce5b7773c62090eec46c4af83caae84c4617a344092776bc9eb9c3642194d.jpg);
  -webkit-background-size: cover;
}

/* line 18, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.splash {
  height: 100%;
}

/* line 25, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.login-form-box {
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
}

/* line 35, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.overall-form {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  height: 65vh;
  width: 30%;
  background: white;
  position: absolute;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

/* line 47, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px;
}

/* line 55, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.login-form {
  height: 20px;
  width: 20px;
  background: transparent;
}

/* line 61, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.login-input {
  border: 1px solid black;
  background-color: transparent;
  border-radius: 5px;
  color: #71767a;
  margin: 20px;
  height: 30px;
  width: 370px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 77, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.login-header {
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 20px;
  padding: 10px;
}

/* line 83, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.email-label {
  color: gray;
  margin: 20px;
}

/* line 88, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.password-label {
  color: gray;
  margin: 20px;
}

/* line 93, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.session-submit {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  align-content: flex-end;
  height: 30px;
  width: 370px;
  background: #78df78;
}

/* line 105, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.demo-submit {
  border: 1px solid black;
  background-color: blue;
  border-radius: 5px;
  color: white;
  margin: 20px;
  height: 30px;
  width: 370px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 123, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.all-dem-px {
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100px;
}

/* line 130, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.tip_top_logo {
  display: flex;
  justify-content: space-between;
}

/* line 135, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.login-signup {
  border-radius: 5px;
  border: 10px;
  color: gray;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
}

/* line 144, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.style-login-signup {
  color: white;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
}

/* line 157, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.style-signup {
  background: #37cfda;
  border-radius: 20px;
}

/* line 162, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
a:hover {
  text-decoration: underline;
}

/* line 168, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.pretty-front-page-button {
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  align-items: center;
  width: 200px;
  height: 100px;
  font-size: 32px;
  background: #37cfda;
  border-radius: 80px;
  color: white;
}

/* line 183, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.main-welcome-description {
  font-size: 30px;
  text-align: center;
  max-width: 900px;
  padding: 40px 0;
  margin: 0 auto;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

/* line 194, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.main-welcome {
  font-size: 48px;
  text-align: center;
  max-width: 900px;
  padding: 40px 0;
  margin: 0 auto;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 204, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/sessions.scss */
.header-group {
  display: flex;
  justify-content: flex-end;
}
/* line 1, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header {
  background-color: white;
  display: flex;
}

/* line 6, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-group {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  align-content: center;
  padding: 10px;
}

/* line 15, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-name {
  height: 20px;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: 20px;
}

/* line 25, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-search {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid black;
}

/* line 34, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.icons-left {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

/* line 40, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-dots {
  height: 30px;
  width: 30px;
  margin-right: 500px;
}

/* line 46, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-logo2 {
  height: 30px;
  width: 30px;
  margin-right: 30px;
  margin-left: 80px;
  display: inline-flex;
  justify-content: flex-start;
}

/* line 56, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-pics {
  height: 30px;
  width: 30px;
  margin-right: 30px;
}

/* line 62, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.icons-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

/* line 69, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-profile-main {
  height: 100%;
  width: 100%;
}

/* line 73, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-profile {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

/* line 79, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-plane-main {
  height: 100%;
  width: 100%;
}

/* line 84, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-plane {
  height: 30px;
  width: 30px;
  display: flex;
  margin-left: 10px;
}

/* line 91, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-bell-main {
  height: 100%;
  width: 100%;
}

/* line 96, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-bell {
  height: 30px;
  width: 30px;
  display: flex;
  margin-left: 10px;
}

/* line 103, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-upload-main {
  height: 100%;
  width: 100%;
}

/* line 108, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-upload {
  height: 30px;
  width: 30px;
  display: flex;
  margin-left: 10px;
}

/* line 115, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-upload:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 120, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-bell:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 125, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-plane:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 130, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-profile:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 135, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-pics:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 140, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-dots:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 145, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-logo2:hover {
  color: lightblue;
  border-radius: 5px;
}

/* line 154, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.header-button {
  width: 200px;
  height: 30px;
  border: 1px solid black;
  background-color: #37cfda;
  color: white;
  border-radius: 20px;
  text-align: center;
  font-size: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* line 170, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.dropdown-content {
  visibility: hidden;
  border: 1px solid black;
}

/* line 175, /Users/dennismyasnyankin/Desktop/all_dem_px/app/assets/stylesheets/api/user_header.scss */
.dropdown:hover .dropdown-content {
  visibility: visible;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
